@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.benefit-card {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    text-align: left;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    gap: 5%;
    flex: 1;
    box-shadow: 0 11px 24px -5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;

    &__body {
        flex: 1;
        display: flex;
        flex-direction: column;

        &__title {
            font-weight: 600;
            font-size: 0.75em;
            margin-bottom: 1em;
        }
    
        &__desc {
            font-size: 0.5em;
            font-weight: 400;
        }
    }
    
    & img {
        flex: 1;
        align-self: center;
    }
}

@media (max-width: 768px) {
    .benefit-card {
        max-width: 80vw;
        padding: 2em 2em 3em;

        & img {
            width: 50%;
        }

        &__body {
            &__title {
                font-size: 1.5em;
            }

            &__desc {
                font-size: 1em;
            }
        }
    }
}