.category-card {
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
    display: flex;
        justify-content: center;
        align-items: stretch;

    & img {
        transition: all 0.5s;
    }

    & h5 {
        color: white;
        position: absolute;
        bottom: 1em;
        left: 1em;
        font-size: 1rem;
        font-weight: 500;
    }

    &:hover {
        & img {
            transform: scale(1.1);
        }
    }
}

@media (max-width: 768px) {
    .category-card {
        max-width: 80vw;
        aspect-ratio: 239 / 323;
    }
}

@media (max-width: 480px) {
    .category-card {
        & h5 {
            font-size: 0.75rem;
        }
    }
}