@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.copyright {
    font-family: 'Montserrat', sans-serif;
    background-color: #e07d5c;
    color: #d2d2d2;
    text-align: center;
    padding: 1.5em;
}

@media (max-width: 768px) {
    .copyright {
        font-size: 3vw;
    }
}